application-local.yaml
build
.gradle
.gradletasknamecache
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/dictionaries
!.idea/dictionaries/*
!.idea/copyright
!.idea/copyright/*
!.idea/codeStyles
!.idea/codeStyles/*
!.idea/icon.png
out
*.iml
.vscode

*.versionsBackup
*.releaseBackup
release.properties


local.properties
*.swp

.video
.attach_pid*


bin/
.settings
.project
.classpath
.konan

.DS_Store

hs_err_pid*.log

local.db
jacoco-report
dev-assets/env-files/env.local
dev-assets/env-files/env.docker
dev-assets/env-files/env.environment
dev-assets/docker-environment/postgres/db.sh
dev-assets/docker-environment/pgAdmin/servers.json
dev-assets/docker-environment/pgAdmin/storage/*

.java-version

# a file created by the 'update_dependencies.sh' script
# it shouldn't be added to version control
# if the filename changes, this section MUST be updated
dash.jar
# An intermediate file used to store the dependencies as a
# flat list, used by the `dashLicenseCheck` gradle task
deps.txt
# Ignore .env files, the root .env is used in the gradle build
# script, when not using `task`
.env
.idea/codeStyles/Project.xml

